@use "../config/config" as v;

/* SNS */
/* -------------------------------------------------------- */
.sns {
  grid-column: 3;
  grid-row: 2;
  justify-self: end;
  align-self: start;
  margin-top: 187px;
  margin-right: 10px;
  display: grid;
  gap: 30px;
  z-index: 10;

  @media (min-width: 768px) {
    justify-self: center;
    margin-right: 0;
  }
}
