@forward "../config/styling";
@use "../config/styling" as v;

// 基本：フォント
body {
  font-family: v.$font-family-base;
  color: v.$color-black;
}

figure {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

// Reset, Normalize, Sanitize
body {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
