// Footer

@use "../config/config" as v;

.footer {
  background-color: v.$color-primary;
  padding: 38px 0 56px;

  .container {
    @media (min-width: 768px) {
      display: flex;
      justify-content: space-between;
    }
  }

  .logo-text {
    display: flex;
    align-items: center;

    img {
      width: 47px;
      margin-right: 14px;

      @media (min-width: 768px) {
        width: 59px;
        margin-right: 18px;
      }
    }

    .text {
      .corporation {
        color: v.$color-white;
        font-size: 16px;

        @media (min-width: 768px) {
          font-size: 20px;
        }
      }
    }
  }
  .address {
    color: v.$color-white;
    font-size: 12px;
    line-height: 2;
    margin: 20px 0 36px 61px;

    @media (min-width: 768px) {
      margin: 22px 0 0 77px;
    }
  }
  .sns {
    display: flex;
    align-items: center;
    margin-left: 61px;

    @media (min-width: 768px) {
      height: 59px;
    }

    a:not(:first-child) {
      margin-left: 25px;
    }
    img {
      width: 35px;
    }
  }
}
