@use "../config/config" as v;

/* Parts Grid */
/* -------------------------------------------------------- */
.parts-grid {
  display: grid;
  grid-template-columns: minmax(8vw, 1fr) minmax(auto, 1088px) minmax(8vw, 1fr);

  > * {
    grid-column: 2;
  }
}

/* List */
/* -------------------------------------------------------- */
.list {
  > .grid12 {
    row-gap: 32px;

    h2 + p {
      margin-bottom: 8px;
    }
  }
}

/* List Inner Items */
.list {
  h2,
  h2 + p {
    @media (min-width: 768px) {
      grid-column: span 8;
    }
  }
  h2 {
    font-family: v.$font-family-main;
    font-size: 26px;
    font-weight: 400;
    color: v.$color-gray-deep;

    @media (min-width: 768px) {
      font-size: 32px;
    }
  }
  h2 + p {
    font-size: 14px;
    line-height: 1.8;

    @media (min-width: 768px) {
      font-size: 16px;
    }
  }
  ul.grid12 {
    row-gap: 20px;

    @media (min-width: 768px) {
      row-gap: 28px;
    }
  }
  ul {
    img {
      width: 100%;
      height: 155px;
      object-fit: cover;
      border-radius: 10px;
      margin-bottom: 10px;

      @media (min-width: 768px) {
        height: 265px;
      }
    }
    &.pc-col-3 {
      img {
        @media (min-width: 768px) {
          height: 353px;
        }
      }
    }
    h3 {
      font-family: v.$font-family-main;
      font-size: 16px;
      font-weight: 500;

      @media (min-width: 768px) {
        font-size: 18px;
      }
    }
  }
}

/* 12分割グリッド Type:Normal */
/* Mobile-Grids: 4, PC-Grids: 12 */
/* -------------------------------------------------------- */
.grid12 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 10px;

  @media (min-width: 768px) {
    grid-template-columns: repeat(12, 1fr);
    column-gap: 16px;
  }
  & > * {
    grid-column: 1 / -1;
  }
}

/* 12分割グリッド：カラム数 */
.mobile-col-2 {
  > * {
    grid-column: span 2;
  }
  &.pc-col-3 > :first-child {
    grid-column: span 4;
  }
}

.pc-col-2 > * {
  @media (min-width: 768px) {
    grid-column: span 6;
  }
}

.pc-col-3 > * {
  @media (min-width: 768px) {
    grid-column: span 4;
  }
}

.pc-col-4 > * {
  @media (min-width: 768px) {
    grid-column: span 3;
  }
}

/* 12分割グリッド Type:Frame */
/* Mobile-Grids: 4, PC-Grids: 12 */
/* -------------------------------------------------------- */
.frame .grid12 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 10px;

  @media (min-width: 768px) {
    grid-template-columns: repeat(12, 1fr);
    column-gap: 16px;
  }
  > * {
    grid-column: 1 / -1;
  }
}

/* 12分割グリッド：カラム数 */
.frame .mobile-col-2 {
  > * {
    grid-column: span 2;
  }
  &.pc-col-3 > :first-child {
    grid-column: span 4;
  }
}

.frame .pc-col-2 > * {
  @media (min-width: 768px) {
    grid-column: span 6;
  }
}

.frame .pc-col-3 > * {
  @media (min-width: 768px) {
    grid-column: span 4;
  }
}

.frame .pc-col-4 > * {
  @media (min-width: 768px) {
    grid-column: span 3;
  }
}

/* Border */
.frame {
  border: 1px solid v.$color-blue-dark;
  padding: 40px 15px;
  margin: 0 -15px;

  @media (min-width: 768px) {
    padding: 60px 0;
    margin: 0;
  }
  h2,
  h2 + p {
    @media (min-width: 768px) {
      grid-column: 2 / span 7;
    }
  }
  ul {
    @media (min-width: 768px) {
      grid-column: 2 / -2;
    }
  }
}
