@use "../config/config" as v;

/* Header */
/* -------------------------------------------------------- */
.header.parts-grid {
  padding-top: 26px;

  @media (min-width: 768px) {
    padding-top: 39px;
  }

  .header-nav.grid12 {
    row-gap: 27px;
    align-items: center;

    img {
      @media (min-width: 768px) {
        grid-column: span 2;
      }
    }

    ul {
      grid-column: span 3;
      display: grid;
      grid-auto-flow: column;
      justify-content: start;
      column-gap: 20px;
      font-size: 14px;
      color: v.$color-blue-deep;

      @media (min-width: 768px) {
        grid-column: span 9;
        justify-self: end;
        gap: 40px;
        font-size: 16px;
      }
    }
    .cart {
      grid-column: span 1;
      justify-self: end;
      font-size: 23px;
      color: v.$color-blue-deep;

      @media (min-width: 768px) {
        font-size: 30px;
      }
    }
  }
}

/* Top-page Header */
.top .header.parts-grid {
  background-image: url(~@img/illustration.jpg);
  background-size: cover;
  background-position: center bottom;

  .catch.grid12 {
    padding-top: 195px;
    padding-bottom: 226px;
    row-gap: 32px;

    h1 {
      font-family: v.$font-family-main;
      font-size: 32px;
      font-weight: 400;

      @media (min-width: 768px) {
        grid-column: span 6;
        min-width: 8em;
        font-size: 54px;
      }
    }
    a {
      width: 260px;
      padding: 13px 0 17px;
      border-radius: 4px;
      border: 2px solid v.$color-white;
      background-color: v.$color-blue-dark;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
      font-family: v.$font-family-main;
      font-size: 18px;
      font-weight: 500;
      color: v.$color-white;
      text-align: center;
    }
  }
}

/* Divider */
.header {
  position: relative;
}
.custom-shape-divider-bottom-1621262427 {
  grid-column: 1 / -1;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);

  svg {
    position: relative;
    display: block;
    width: calc(134% + 1.3px);
    height: 129px;
  }
  .shape-fill {
    fill: #FFFFFF;
  }
}



