// Header

@use "../config/config" as v;

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 74px;

  @media (min-width: 900px) {
    height: 100px;
  }

  .logo-text {
    display: flex;
    align-items: center;

    img {
      width: 42px;
      margin-right: 10px;

      @media (min-width: 900px) {
        width: 59px;
        margin-right: 18px;
      }
    }
    .corporation {
      color: v.$color-black;
      font-size: 12px;
      line-height: 1.4;
      font-weight: 900;

      @media (min-width: 900px) {
        font-size: 20px;
      }
    }
    .description {
      color: v.$color-middlegray;
      font-size: 10px;
      line-height: 1.5;
      font-weight: 400;

      @media (min-width: 900px) {
        font-size: 12px;
      }
    }
  }
}
.nav-button {
  width: 20px;
  height: 14px;
  color: v.$color-primary;
  cursor: pointer;

  @media (min-width: 900px) {
    display: none;
  }

  &::before,
  &::after {
    content: "";
    display: block;
    height: 2px;
    background-color: currentColor;
    transform: translateY(5px);
    transition: 0.3s ease-in-out;
  }
  &::before {
    transform: translateY(-5px);
    box-shadow: 0 6px currentColor;
  }
}

/* Close-button */
.open .nav-button {
  color: v.$color-white;
  z-index: 100;

  &::before {
    transform: translateY(1px) rotate(45deg);
    box-shadow: none;
  }
  &::after {
    transform: translateY(-1px) rotate(-45deg);
  }
}

/* Navigation-Menu: Mobile */
@media (max-width: 899px) {
  html, body {
    overflow-x: hidden;
  }
  html.open, .open body {
    height: 100%;
    overflow: hidden;

    .form {
      display: none;
    }
    .nav-menu {
      left: 0;
    }
  }

  .header {
    position: relative;

    .nav-menu {
      position: absolute;
      top: 0;
      left: 100%;
      width: 100%;
      height: 100vh;
      color: v.$color-white;
      background-color: rgba($color: #000000, $alpha: 0.8);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      transition: left 0.5s;

      a:not(:last-child) {
        margin-bottom: 40px;
      }
      .btn {
        color: inherit;
      }
    }
  }
}

/* Navigation-Menu: PC */
@media (min-width: 900px) {
  .nav-button {
    display: none;
  }
  .nav-menu {
    display: flex;
    align-items: center;
    color: v.$color-black;

    a:not(:last-child) {
      margin-right: 23px;
    }
    .btn {
      width: 148px;
      border-color: v.$color-gray;
    }
  }
}
