@use "../config/config" as v;

/* Index page */
/* -------------------------------------------------------- */

/* List */
/* -------------------------------------------------------- */
/* Category */
.list-category {
  padding-top: 80px;
  padding-bottom: 80px;
  overflow: hidden;

  @media (min-width: 768px) {
    padding-bottom: 86px;
  }
  > .grid12 {
    position: relative;

    &::before {
      position: absolute;
      content: url(~@img/sun.svg);
      top: -80px;
      right: -120px;
      z-index: -1;

      @media (min-width: 768px) {
        right: 17px;
      }
    }
  }
}

/* Experience */
.list-experience {
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: v.$color-green;
}

/* Popular */
.list-popular {
  padding-top: 40px;
  padding-bottom: 40px;

  @media (min-width: 768px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  ul p {
    font-size: 16px;

    @media (min-width: 768px) {
      font-size: 18px;
    }
  }
}


