@use "../config/config" as v;

/* Main Index*/
/* -------------------------------------------------------- */

/* Hero Header */
.hero {
  background-color: v.$color-white;
  & > * {
    grid-column: 1 / -1;
    grid-row: 1;
    justify-self: center;
  }
  h1, p {
    line-height: 1;
    color: v.$color-white;
    mix-blend-mode: difference;
    z-index: 2;
  }
  h1 {
    font-size: 91px;
    font-weight: bold;
    margin-top: 30px;

    @media (max-width: 374px) {
      font-size: 75px;
    }
    @media (min-width: 768px) and (max-width: 1023px) {
      font-size: 160px;
    }
    @media (min-width: 1023px) {
      font-size: 229px;
      margin-top: 33px;
    }
  }
  p {
    font-size: 17px;
    margin-top: 120px;

    @media (min-width: 768px) and (max-width: 1023px) {
      font-size: 30.5px;
      margin-top: 185px;
    }
    @media (min-width: 1023px) {
      font-size: 44px;
      margin-top: 251px;
    }
  }
  figure {
    img {
      width: 302px;
      height: 506px;
      object-fit: cover;
      margin: 63px 0 100px;

      @media (min-width: 768px) and (max-width: 1023px) {
        width: 395px;
        height: 572.5px;
      }
      @media (min-width: 1023px) {
        width: 488px;
        height: 639px;
        margin: 84px 0 183px;
      }
    }
  }
}

/* Message */
.msg {
  row-gap: 51px;
  padding: 64px 0;

  @media (min-width: 768px) {
    padding: 150px 0;
  }

  &::before {
    content: "";
    display: block;
    width: 26px;
    height: 27px;
    background-color: v.$color-primary;
    grid-row: 1;
    z-index: 2;
  }
  &.msg-black {
  color: v.$color-white;
  background-color: v.$color-black;

    img {
      // object-position: left center;
      object-position: left bottom;
    }
  }
  &.msg-white{
    &::before {
      justify-self: end;
    }
    &::after {
      content: "";
      display: block;
      height: 130px;
      z-index: -1;
      background-color: v.$color-primary;
      opacity: 60%;
      grid-column: 1;
      grid-row: 1;
      align-self: end;
      margin-bottom: -25px;
      margin-right: -110px;

      @media (min-width: 768px) {
        height: 256px;
        margin-bottom: -150px;
        margin-right: -187px;
      }
    }
  }
  figure {
    grid-row: 1;

    @media (min-width: 768px) {
      grid-row: 1;
      width: 44%;
    }
  }
  img {
    width: 100%;
    height: 288px;
    object-fit: cover;

    @media (min-width: 768px) {
      height: 100%;
    }
  }
  .text {
    @media (min-width: 768px) {
      grid-row: 1;
      width: 44%;
      margin: 89px 0 49px;
    }
    h2 {
      font-size: 28px;
      font-weight: bold;
      margin-bottom: 14px;

      @media (min-width: 768px) {
        font-size: 36px;
      }
    }
    .text-subtitle {
      font-size: 20px;
      color: v.$color-gray;
      margin-bottom: 40px;
    }
    .text-body {
      font-size: 16px;
      line-height: 1.8;
      margin-bottom: 47px;
    }
    .text-link {
      font-size: 16px;
      font-weight: bold;
      color: v.$color-primary;
    }
  }
}

@media (min-width: 768px) {
  .msg-black figure,
  .msg-white .text {
    justify-self: end;
  }
}


