// Site Guidelines

// フレキシブルボックス
// Polyfill
// Responsive
// ページロード時はフェードイン

// 備考1
// リキッドレイアウト、横幅の最大値1240pxで固定

// 備考2
// ナビゲーションメニューは
// モバイル版はハンバーガーメニュー（右側からのフルスクリーンのオーバーレイ）
// PC版は右上に表示

// 備考3


/* Variables */
$font-family-base: 'Noto Sans JP', sans-serif;
$color-primary: #2e5180;
$color-darkgray: #333333;
$color-middlegray: #707f89;
$color-gray: #cdd6dd;
$color-lightgray: #eef4f8;
$color-white: #ffffff;
$color-black: #333333;

$max-width: 1240px;
