// フォント
// 基本：ゴシック系フォント
// 欧文：Josefin Sans (Regular, Bold)

// 色
// プライマリー：#98a718
// ブラック：#000000
// グレー：#aaaaaa
// ホワイト：#ffffff

// 備考1
// ナビゲーションメニューは
// フルスクリーン、オーバレイなし
// 右上のボタンクリックから画面右上から開閉

// 備考2
// 共通パーツ
// ナビゲーションボタン・フッター
// SNSメニュー・縦書きテキスト・丸付きのライン（PC版のみ）

// 備考3
// 上左右ガイドライン：72px
// 丸付きラインはメインコンテンツにあわせて長さ調整、フッタの上辺まで

// 備考4
// モバイル版左右余白：20px
// PC版最大幅：1074px
// ワンカラムレイアウト

// 備考5
// メインコンテンツと装飾パーツが重なる場合は装飾パーツが上になる

// 備考6
// 装飾パーツの緑の四角は常にページの左下に表示する形でレスポンシブにする

// Size
// Mobile: 375*812
// PC: 1366*1024

// Variables
// --------------------------------------------------------

// Fonts
$font-family-base: sans-serif;
$font-family-en: "Josefin Sans", sans-serif;

// Colors
$color-primary: #98a718;
$color-black: #000000;
$color-gray: #aaaaaa;
$color-white: #ffffff;
