extends ./components/_layout.pug

block vars
  include ./config/_config.pug

  - var key = "top"
  - var page = {}

  if key !== "top"
    - page = pages[key]

block contents

  section(class="hero")
    figure
      img(src="~@img/workspace.jpg" alt="")

    div(class="text")
      div(class="subtitle")  Workspace Technical Design

      h1 ワークスペースの<br>施工・デザイン設計
      p 新しい時代に求められるワークスペースの施工・デザインを行います。仕事内容や作業にあわせて、最適でモダンな環境を作り出します。
      a(href="#" class="btn") お問い合わせ

  section(class="msg msgtop")
    h2 ご自宅からオフィスまで
    p NAGISAの施工・デザイン設計では、スペースを確保するアイデアからインテリアの選定、空間の調和、ネットワーク環境の準備、セキュリティの確保など、ワークスペースに求められるさまざまな要件をクリアしていきます。

  section(class="systems")
    div(class="subtitle") Popular System
    h2 人気の設計システム

    div(class="systems-item")
      figure
        img(src="~@img/idea.png" alt="")
      div(class="text")
        div(class="subtitle") Original Design Environment
        h3 環境にあわせたオリジナル設計
        p 目的や環境にあわせて最適なワークスペースを作り出すべく、細やかな打ち合わせを行い、オリジナルな環境を構築します。

    div(class="systems-item")
      figure
        img(src="~@img/business.png" alt="")
      div(class="text")
        div(class="subtitle") Business Solutions
        h3 業務の効率化と課題解決
        p ワークスペースの大事なポイントである「仕事や業務の効率化」「課題解決」にも、デザイン設計の視点から取り組みます。

    div(class="systems-item")
      figure
        img(src="~@img/secure.png" alt="")
      div(class="text")
        div(class="subtitle") Fast and Secure Network
        h3 高速でセキュアなネットワーク
        p 現代のワークスペースには欠かすことができなくなったネットワーク環境も、高速でセキュアなトラフィックを確保して構築します。




  section(class="msg")
    h2 設計やお見積りのご相談
    p ワークスペースの施工・デザイン設計についてのお見積りやご相談については、いつでもお問い合わせください。企業フィロソフィに応じて、インスタンス単位での発注・請負も可能です。
    a(href="#" class="btn") 詳しくはこちら






