-
  function checkMetaInfo(page, site) {
    if page.keywords !== ""
      page.keyword = site.keywords

    if page.description !== ""
      page.description = site.description

    if page.url !== ""
      page.url = site.url
    else
      page.url = site.url + "/" + page.url

    if page.title !== ""
      page.title = site.title
    else
      page.title = page.title + "|" + site.title

    if page.imgUrl !== ""
      page.imgUrl = site.title

    if page.imgWidth !== ""
      page.imgWidth = site.imgWidth

    if page.imgHeight !== ""
      page.imgHeight = site.imgHeight

    return page
  }
