// ====================================
// CSS Grid Layout関係のスタイルシート
// ====================================

.my-grid {
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-rows: 50px 1fr 50px;

  width: 100%;
  height: 100%;

  &-item {
    /* 中央寄せ */
    display: flex;
    justify-content: center;
    align-items: center;
    /* フォント */
    color: white;
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 0.1em;
  }
}

header {
  grid-column: 1 / 3;
  grid-row: 1;

  background: #3498db;
}

aside {
  grid-column: 1;
  grid-row: 2 / 4;

  // 比較的容量の小さい画像を割り当てる
  // background: url("~@/images/bk_image_small.jpg");
  background: url("~@img/bk_image_small.jpg");
}

main {
  grid-column: 2;
  grid-row: 2;
  display: flex;
  flex-direction: column;

  // 比較的容量の大きい画像を割り当てる
  // background: url("~@/images/bk_image_big.jpg");
  background: url("~@img/bk_image_big.jpg");
}

// main .main-back {
//   width: 80%;
//   height: 40%;
//   background: url("../images/thumbnail_big.jpg");
// }

footer {
  grid-column: 2;
  grid-row: 3;

  background: #087b83;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  // height: 100vh;
}

h1 {
  margin: auto;
  text-align: center;
  max-width: 90vw;
}

img {
  width: 100%;
  height: auto;
}
