//- Footer
footer(class="footer parts-grid")
  nav(class="footer-nav grid12 pc-col-4")
    div
      h4 植物ガイド
      ul
        li
          a(href="#") 観葉植物
        li
          a(href="#") 盆栽
        li
          a(href="#") ブリザーブド
        li
          a(href="#") 食用
    div
      h4 体験
      ul
        li
          a(href="#") オンライン講座
        li
          a(href="#") サブスクリプション
        li
          a(href="#") ギフト
    div
      h4 サポート
      ul
        li
          a(href="#") 配送について
        li
          a(href="#") 送料・お届けについて
        li
          a(href="#") 返品・交換について
        li
          a(href="#") お問い合わせ

  nav(class="footer-site grid12 pc-col-2")
    div(class="profile")
      img(src="~@img/logo.svg" alt="BOTA")
      p 〒901-3125<br>沖縄県島尻郡久米島町字鳥島<br>0997-1234-5678
    div(class="copyright")
      ul
        li
          a(href="#") 会社概要
        li
          a(href="#") プライバシーポリシー
        li
          a(href="#") サイトマップ
      p @ BOTA. All rights reserved
