footer(class="footer")
  div(class="inner01")
    dvi(class="site") NAGISA
    p(class="address") 〒901-3125<br>沖縄県島尻郡久米島字鳥島
  div(class="inner02")
    nav(class="nav")
      a(href="company.html") 会社概要
      a(href="company.html") プライバシーポリシー
      a(href="company.html") お問い合わせ
    p(class="copy") @ NAGISA Corp. All rights reserved.
