//- Footer

footer(class="footer")
  div(class="container")
    div(class="company-overview")
      div(class="logo-text")
        img(src="~@img/bb-white.svg" atl="")
        div(class="text")
          p(class="corporation") BBアシスタントカンパニー
      p(class="address") 〒901-3125<br>
        | 沖縄県島尻郡久米島町字鳥島<br>
        | 0997-1234-5678
    div(class="sns")
      a(href="#")
        img(src="~@img/logo-twitter.svg" alt="Twitter")
      a(href="#")
        img(src="~@img/logo-facebook.svg" alt="Facebook")
      a(href="#")
        img(src="~@img/logo-instagram.svg" alt="Instagram")
