header(class="header")
  div(class="inner01")
    dvi(class="site") NAGISA
  div(class="inner02")
    nav(class="nav")
      a(href="index.html") ホーム
      a(href="company.html") 会社概要
      a(href="company.html") お問い合わせ
