//- Header
header(class="header")
  div(class="container")
    div(class="logo-text")
      img(src="~@img/bb.svg" atl="")
      div(class="text")
        p(class="corporation") BBアシスタントカンパニー
        p(class="description") 確かなスタッフによる業務サポート

    nav(class="nav-menu")
      a(href="#") 会社情報
      a(href="#") サービス
      a(href="#" class="btn") お問い合わせ

    button(type="button" class="nav-button" id="click")
      span(class="sr-only") MENU
