//- サイトメタデータ
-
  var site = {
    type: "website",
    locale: "ja_JP",
    favicon: "~@img/favicon.png",
    url: "http://localhost:8080",
    social: {
      twitterSite: "@xxxxxx",
      twitterCreator: "@xxxxxx",
      facebook: "xxxxxxxxxxxx"
    },
    title: "ワークスペースの施工・デザイン設計のNAGISA",
    description : "ワークスペースの施工・デザイン設計のNAGISAのサイトです。",
    keywords : "ワークスペースの施工 デザイン設計",
    imgUrl : "~@img/eyecatch.jpg",
    imgWidth: 1280,
    imgHeight: 640,
  }
-
  var pages = {
    company : {
      url : "company.html",
      title : "会社概要",
      description : "NAGISAの会社概要です。",
      keywords : "ワークスペースの施工 デザイン設計 施工お見積り",
      imgUrl : "",
      imgWidth: "",
      imgHeight: ""
    },
  }
