//- サイトメタデータ
-
  var site = {
    type: "website",
    locale: "ja_JP",
    favicon: "~@img/bb.png",
    url: "http://localhost:8080",
    social: {
      twitterSite: "@xxxxxx",
      twitterCreator: "@xxxxxx",
      facebook: "xxxxxxxxxxxx"
    },
    title: "BB アシスタントカンパニー",
    description : "BB アシスタントカンパニーのサイトです。",
    keywords : "",
    imgUrl : "~@img/bb.png",
    imgWidth: 1280,
    imgHeight: 640,
  }
-
  var pages = {
    content : {
      url : "content.html",
      title : "",
      description : "",
      keywords : "",
      imgUrl : "",
      imgWidth: "",
      imgHeight: ""
    },
  }
