//- サイトメタデータ
-
  var site = {
    type: "website",
    locale: "ja_JP",
    favicon: "~@img/favicon32.png",
    url: "http://localhost:8080",
    social: {
      twitterSite: "@xxxxxx",
      twitterCreator: "@xxxxxx",
      facebook: "xxxxxxxxxxxx"
    },
    title: "ボタニカルライフのBOTA",
    description : "ボタニカルライフのBOTAのサイトです。",
    keywords : "ボタニカルライフ BOTA",
    imgUrl : "~@img/illustration.jpg",
    imgWidth: 1280,
    imgHeight: 640,
  }
-
  var pages = {
    content : {
      url : "contents.html",
      title : "セキュアで快適な環境構築をお手伝いします",
      description : "BOTAの会社概要です。",
      keywords : "ボタニカルライフ BOTA",
      imgUrl : "",
      imgWidth: "",
      imgHeight: ""
    },
  }
