//- サイトメタデータ
-
  var site = {
    type: "website",
    locale: "ja_JP",
    favicon: "~@img/favicon32.png",
    url: "http://localhost:8080",
    social: {
      twitterSite: "@xxxxxx",
      twitterCreator: "@xxxxxx",
      facebook: "xxxxxxxxxxxx"
    },
    title: "CASUAL",
    description : "アウトドアのCASUALのサイトです。",
    keywords : "アウトドア キャンプ 冒険 カジュアル",
    imgUrl : "~@img/camp-sky.jpg",
    imgWidth: 1280,
    imgHeight: 640,
  }
-
  var pages = {
    contents : {
      url : "contents.html",
      title : "ご案内",
      description : "アウトドアのCASUALの会社案内",
      keywords : "アウトドア キャンプ 冒険 カジュアル 会社案内",
      imgUrl : "",
      imgWidth: "",
      imgHeight: ""
    },
  }
