extends ./components/_layout.pug

block vars
  include ./config/_config.pug

  - var key = "company"
  - var page = {}

  if key !== "top"
    - page = pages[key]

block contents

  figure(class="headimage")
    img(src="~@img/workspace-front.jpg" alt="")

  article(class="content")
    div(class="subtitle") Secure and Comfortable Environment

    h1 セキュアで快適な<br>環境構築をお手伝いします

    p NAGISAでは、ワークスペースの施工・デザインを行っています。ご自宅からオフィスまで、どのような環境にでもワークスペースを構築することができます。仕事の一助になるオープンスペースの構築も可能です。「カジュアル」「シック」「リラックス」など、空間の雰囲気作りも自由に設計していきます。

    h2 日常のなかにワークスペースを作り出します

    p 自宅内にワークスペースを設ける場合、日常の生活と隣り合わせな環境のなかに、いかにうまくワークスペースを構築するかがポイントになります。
    p 日常の妨げとならず、生活と切り分けて仕事に集中できるかんきょうはもちろん、プライベートな空間と融合させたスペースつくりも可能です。ワークスペースや日々のライフスタイルにあわせて設計していくことを目指します。

    h2 オープンスペースを作るのもおまかせください

    p オフィス、店舗、ビルなどのなかに設けるオープンスペースやパブリックスペースの設計も承ります。自由な人の出入りやコミュニケーションの場として機能させることにより、テレワークではむずかしい課題解決を手助けします。
    p なお、オープンスペースは屋外・野外に設けることもできます。開放的な空間を活用した設計についてもご相談ください。

  section(class="msg")
    h2 いつでもお気軽に<br>お問い合わせください
    a(href="#" class="btn") お問い合わせ




