extends ./components/_layout.pug

block vars
  include ./config/_config.pug

  - var key = "top"
  - var page = {}

  if key !== "top"
    - page = pages[key]

block contents

  section(class="hero")
    div(class="catch-copy")
      div(class="container")
        h1
          img(src="~@img/hero.svg" alt="BB Assistant Company")
        p 縁の下の力持ちとしてお仕事を支えます

  section(class="message")
    div(class="container")
      h2 ビジネスアシスタントとして<br >サポートを続けて20年
      p プロのビジネスアシスタントとして独立後、さまざまなお客様からご依頼いただき、多様な業務、事業、効率化などのサポートをおこなってきました。得意分野が多岐にわたるスタッフが揃っておりますので、必要に応じてどのような業務にも対応いたします。雑事に振る舞わされることなく、重要な案件に取り組んでいただくことを目指しています。

  section(class="service")
    div(class="container")
      h2 アシスタントサービス
      p 私達にできること

  section(class="contact")




