extends ./components/_layout.pug

block vars
  include ./config/_config.pug

  - var key = "top"
  - var page = {}

  if key !== "top"
    - page = pages[key]

block contents

  section.hero
    h1 ワークスペースの施工・デザイン設計

  section.msg
    h2 ご自宅からオフィスまで

  section.systems
    h2 人気の設計システム
    h3 環境にあわせたオリジナル設計
    h3 業務の効率化と課題解決
    h3 高速でセキュアなネットワーク

  section.msg
    h2 設計やお見積りのご相談



