extends ./components/_layout.pug

block vars
  include ./config/_config.pug

  - var key = "top"
  - var page = {}

  if key !== "top"
    - page = pages[key]

block contents

  section(class="hero")
    div(class="catch-copy")
      div(class="container")
        h1
          img(src="~@img/hero.svg" alt="BB Assistant Company")
        p 縁の下の力持ちとしてお仕事を支えます

  section(class="message")
    div(class="container")
      h2 ビジネスアシスタントとして <br/> サポートを続けて20年
      p プロのビジネスアシスタントとして独立後、さまざまなお客様からご依頼いただき、多様な業務、事業、効率化などのサポートをおこなってきました。得意分野が多岐にわたるスタッフが揃っておりますので、必要に応じてどのような業務にも対応いたします。雑事に振る舞わされることなく、重要な案件に取り組んでいただくことを目指しています。

  section(class="service")
    div(class="container")
      h2 アシスタントサービス
      p 私達にできること

      div(class="details")
        article(class="detail office")
          figure
          h3 オフィス業務 <br/> サポート
          p 書籍管理、電話・メール対応、スケジュール管理、デジタルトランスフォーメーションなど、様々なオフィス業務のサポートをおこないます。
          a(href="#" class="btn") OFFICE
        article(class="detail management")
          figure
          h3 マネージメント <br/> サポート
          p プロジェクトチームの構成メンバーのマネージメント、案件の進捗管理、リーダーのアシスタントサポートなどをおこないます。
          a(href="#" class="btn") MANAGEMENT
        article(class="detail research")
          figure
          h3 調査・研究 <br/> サポート
          p 各事業の立ち上げ、運営にかかわる調査・研究のサポートや、特定分野の専門家との提携のお手伝いなどをおこないます。
          a(href="#" class="btn") RESEARCH

  section(class="contact")
    div(class="container")
      div(class="text")
        h2 お問い合わせ
        p もっと業務を効率化したい<br/>
          | マネージメントの煩わしさから開放されたい<br/>
          | 本業に集中したいなど<br/>
          | 些細なことでもお気軽にお問い合わせください。

      form(class="form")
        p
          label
            span(class="sr-only") Name
          input(type="text" name="name" placeholder="Name")
        p
          label
            span(class="sr-only") Mail-address
          input(type="email" name="email" placeholder="Email Address")
        p
          label
            span(class="sr-only") Message
          textarea(name="message" placeholder="Please enter a Message")
        p
          input(type="submit" value="送信" class="btn")




