extends ./components/_layout.pug

block vars
  include ./config/_config.pug

  - var key = "top"
  - var page = {}

  if key !== "top"
    - page = pages[key]

block contents

  section(class="hero")
    div(class="catch-copy")
      div(class="container")
        h1
          img(src="~@img/hero.svg" alt="BB Assistant Company")
        p 縁の下の力持ちとしてお仕事を支えます

  section(class="message")

  section(class="service")

  section(class="contact")




