//- Footer
footer(class="footer parts-grid")
  div(class="text")
    div(class="site en") CASUAL
    div(class="address") 〒901-3125<br>沖縄県島尻郡久米島字鳥島<br>0997-1234-5678
  div(class="chat en")
    a(href="#")
      img(src="~@img/chat.svg" alt="")
      <br>Chat Support
