@charset "UTF-8";
/* Variables */
/* Base */
/* -------------------------------------------------------- */
body {
  font-family: "Noto Sans JP", sans-serif;
  line-height: 1.5;
  color: #333333;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

button {
  padding: 0;
  border: none;
  background: none;
  box-sizing: content-box;
  outline: none;
}

/* スクリーンリーダー用テキスト */
/* --------------------------------------------------------- */
.sr-only {
  margin: -1px;
  padding: 0;
  border: 0;
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
}

/* Container */
.container {
  margin: 0 auto;
  width: 84%;
}
@media (min-width: 900px) {
  .container {
    width: 91%;
    max-width: 1240px;
  }
}

/* Button */
.btn {
  margin: 0 auto;
  padding: 11px 0 13px;
  border: 2px solid currentColor;
  display: block;
  box-sizing: border-box;
  width: 208px;
  border-radius: 24px;
  color: #2e5180;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

/* Fade-in */
body {
  -webkit-animation: fade 5s;
          animation: fade 5s;
}

@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 74px;
}
@media (min-width: 900px) {
  .header .container {
    height: 100px;
  }
}
.header .container .logo-text {
  display: flex;
  align-items: center;
}
.header .container .logo-text img {
  width: 42px;
  margin-right: 10px;
}
@media (min-width: 900px) {
  .header .container .logo-text img {
    width: 59px;
    margin-right: 18px;
  }
}
.header .container .logo-text .corporation {
  color: #333333;
  font-size: 12px;
  line-height: 1.4;
  font-weight: 900;
}
@media (min-width: 900px) {
  .header .container .logo-text .corporation {
    font-size: 20px;
  }
}
.header .container .logo-text .description {
  color: #707f89;
  font-size: 10px;
  line-height: 1.5;
  font-weight: 400;
}
@media (min-width: 900px) {
  .header .container .logo-text .description {
    font-size: 12px;
  }
}

.nav-button {
  width: 20px;
  height: 14px;
  color: #2e5180;
  cursor: pointer;
}
@media (min-width: 900px) {
  .nav-button {
    display: none;
  }
}
.nav-button::before, .nav-button::after {
  content: "";
  display: block;
  height: 2px;
  background-color: currentColor;
  transform: translateY(5px);
  transition: 0.3s ease-in-out;
}
.nav-button::before {
  transform: translateY(-5px);
  box-shadow: 0 6px currentColor;
}

/* Close-button */
.open .nav-button {
  color: #ffffff;
  z-index: 100;
}
.open .nav-button::before {
  transform: translateY(1px) rotate(45deg);
  box-shadow: none;
}
.open .nav-button::after {
  transform: translateY(-1px) rotate(-45deg);
}

/* Navigation-Menu: Mobile */
@media (max-width: 899px) {
  html, body {
    overflow-x: hidden;
  }

  html.open, .open body {
    height: 100%;
    overflow: hidden;
  }
  html.open .form, .open body .form {
    display: none;
  }
  html.open .nav-menu, .open body .nav-menu {
    left: 0;
  }

  .header {
    position: relative;
  }
  .header .nav-menu {
    position: absolute;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100vh;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: left 0.5s;
  }
  .header .nav-menu a:not(:last-child) {
    margin-bottom: 40px;
  }
  .header .nav-menu .btn {
    color: inherit;
  }
}
/* Navigation-Menu: PC */
@media (min-width: 900px) {
  .nav-button {
    display: none;
  }

  .nav-menu {
    display: flex;
    align-items: center;
    color: #333333;
  }
  .nav-menu a:not(:last-child) {
    margin-right: 23px;
  }
  .nav-menu .btn {
    width: 148px;
    border-color: #cdd6dd;
  }
}
/* Hero */
.hero {
  height: 400px;
  background-image: url(/images/hero.bundle.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
}
@media (min-width: 900px) {
  .hero {
    height: 700px;
  }
}
.hero .catch-copy {
  padding: 33px 0;
  flex: auto;
  align-self: flex-end;
  background-color: rgba(255, 255, 255, 0.75);
}
@media (min-width: 900px) {
  .hero .catch-copy {
    padding: 47px 0 44px;
  }
}
.hero .container {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  line-height: 1.3;
}
.hero img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}
.hero p {
  font-size: 14px;
  color: #2e5180;
  margin-bottom: 15px;
}
@media (min-width: 900px) {
  .hero p {
    font-size: 16px;
    margin-bottom: 22px;
  }
}

/* Message */
.message {
  padding: 67px 0;
  background-color: #2e5180;
  color: #ffffff;
}
@media (min-width: 900px) {
  .message {
    padding: 81px 0;
  }
}
.message h2 {
  font-size: 24px;
  line-height: 1.67;
  text-align: center;
  margin-bottom: 38px;
}
@media (min-width: 900px) {
  .message h2 {
    font-size: 36px;
    line-height: 1.33;
  }
}
.message p {
  margin: auto;
  font-size: 14px;
  line-height: 1.86;
  max-width: 640px;
}

/* Service */
.service {
  padding: 67px 0;
  text-align: center;
}
@media (min-width: 900px) {
  .service {
    padding: 95px 0 87px;
  }
}
.service h2 {
  display: inline-block;
  font-size: 24px;
  color: #2e5180;
  border-bottom: 2px dotted currentColor;
  padding-bottom: 9px;
  margin-bottom: 16px;
}
@media (min-width: 900px) {
  .service h2 {
    font-size: 36px;
  }
}
.service h2 + p {
  font-size: 16px;
  color: #2e5180;
}

/* Service: Details */
.details {
  color: #333333;
  margin-top: 53px;
}
@media (min-width: 900px) {
  .details {
    display: flex;
    margin-top: 75px;
  }
}
@media (min-width: 900px) {
  .details .detail {
    flex: 1;
    margin-right: 3.22%;
    display: flex;
    flex-direction: column;
  }
  .details .detail .btn {
    margin-top: auto;
  }
}
@media (min-width: 900px) {
  .details .detail:first-child {
    margin-left: 3.22%;
  }
}
.details .detail:not(:last-child) {
  margin-bottom: 67px;
}
@media (min-width: 900px) {
  .details .detail:not(:last-child) {
    margin-bottom: 0;
  }
}
.details .detail h3 {
  font-size: 20px;
  line-height: 1.75;
  margin-bottom: 17px;
}
@media (min-width: 900px) {
  .details .detail h3 {
    font-size: 30px;
    line-height: 1.4;
    margin-bottom: 26px;
  }
}
.details .detail p {
  margin: 0 auto 25px;
  max-width: 264px;
  font-size: 12px;
  line-height: 2;
}
@media (min-width: 900px) {
  .details .detail p {
    width: 78%;
    max-width: none;
  }
}
.details .detail figure {
  height: 246px;
  margin-bottom: 22px;
  background-position: center;
  background-size: cover;
}
@media (min-width: 900px) {
  .details .detail figure {
    height: 360px;
    margin-bottom: 33px;
  }
}
.details .detail.office figure {
  background-image: url(/images/office.bundle.jpg);
}
.details .detail.management figure {
  background-image: url(/images/manage.bundle.jpg);
}
.details .detail.research figure {
  background-image: url(/images/research.bundle.jpg);
}

/* Contact */
.contact {
  padding: 62px 0;
  background-color: #eef4f8;
  color: #333333;
}
@media (min-width: 900px) {
  .contact {
    padding: 0;
    background: none;
  }
}
@media (min-width: 900px) {
  .contact .container {
    padding: 96px 9% 62px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    background-color: #eef4f8;
  }
  .contact .container .text {
    flex: 0 0 auto;
  }
  .contact .container .form {
    flex: 1 1 auto;
    max-width: 457px;
    margin-left: 1em;
    margin-top: 0;
  }
}
.contact h2 {
  font-size: 24px;
  margin-bottom: 42px;
}
@media (min-width: 900px) {
  .contact h2 {
    font-size: 36px;
  }
}
.contact h2 + p {
  font-size: 12px;
  line-height: 2.17;
}
@media (min-width: 900px) {
  .contact h2 + p {
    font-size: 14px;
    line-height: 1.85;
  }
}

/* Contact: Form */
.form {
  margin-top: 46px;
}
.form::-moz-placeholder {
  color: #cdd6dd;
  opacity: 1;
}
.form:-ms-input-placeholder {
  color: #cdd6dd;
  opacity: 1;
}
.form::placeholder {
  color: #cdd6dd;
  opacity: 1;
}
.form input[type=text],
.form input[type=email],
.form textarea {
  padding: 12px 20px 14px;
  border: 1px solid #cdd6dd;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 17px;
  border-radius: 0;
  -webkit-appearance: none;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 16px;
  color: #333333;
}
.form textarea {
  height: 150px;
}
.form .btn {
  margin: 0;
  border: none;
  width: 100%;
  background-color: #2e5180;
  color: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
}
@media (min-width: 900px) {
  .form .btn {
    width: 272px;
  }
}

.footer {
  padding: 38px 0 56px;
  background-color: #2e5180;
}
@media (min-width: 900px) {
  .footer {
    padding: 105px 0 88px;
    margin-top: -48px;
    position: relative;
    z-index: -1;
  }
}
@media (min-width: 900px) {
  .footer .container {
    display: flex;
    justify-content: space-between;
  }
}
.footer .logo-text {
  display: flex;
  align-items: center;
}
.footer .logo-text img {
  width: 47px;
  margin-right: 14px;
}
@media (min-width: 900px) {
  .footer .logo-text img {
    width: 59px;
    margin-right: 18px;
  }
}
.footer .logo-text .text .corporation {
  color: #ffffff;
  font-size: 16px;
}
@media (min-width: 900px) {
  .footer .logo-text .text .corporation {
    font-size: 20px;
  }
}
.footer .address {
  margin: 20px 0 36px 61px;
  color: #ffffff;
  font-size: 12px;
  line-height: 2;
}
@media (min-width: 900px) {
  .footer .address {
    margin: 22px 0 0 77px;
  }
}
.footer .sns {
  display: flex;
  align-items: center;
  margin-left: 61px;
}
@media (min-width: 900px) {
  .footer .sns {
    height: 59px;
  }
}
.footer .sns a:not(:first-child) {
  margin-left: 25px;
}
.footer .sns img {
  width: 35px;
}

/*# sourceMappingURL=site.bundle.css.map*/