@charset "UTF-8";
/* Base */
/* -------------------------------------------------------- */
body {
  font-family: sans-serif;
  line-height: 1.5;
  color: #222222;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

/* Grid setting */
/* 12分割グリッド */
/* Mobile-Grids: 4, PC-Grids: 12 */
/* -------------------------------------------------------- */
.grid12 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
  grid-template-columns: repeat(4, 1fr);
  -moz-column-gap: 10px;
       column-gap: 10px;
}
@media (min-width: 768px) {
  .grid12 {
    -ms-grid-columns: (1fr)[12];
    grid-template-columns: repeat(12, 1fr);
    -moz-column-gap: 16px;
         column-gap: 16px;
  }
}
.grid12 > * {
  grid-column: 1/-1;
}

/* 12分割グリッド：カラム数 */
.mobile-col-2 > * {
  -ms-grid-column-span: 2;
  grid-column: span 2;
}
.mobile-col-2.pc-col-3 > :first-child {
  -ms-grid-column-span: 4;
  grid-column: span 4;
}

@media (min-width: 768px) {
  .pc-col-2 > * {
    -ms-grid-column-span: 6;
    grid-column: span 6;
  }
}

@media (min-width: 768px) {
  .pc-col-3 > * {
    -ms-grid-column-span: 4;
    grid-column: span 4;
  }
}

@media (min-width: 768px) {
  .pc-col-4 > * {
    -ms-grid-column-span: 3;
    grid-column: span 3;
  }
}

/* Parts Grid */
/* -------------------------------------------------------- */
.parts-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(8vw, 1fr) minmax(auto, 1088px) minmax(8vw, 1fr);
  grid-template-columns: minmax(8vw, 1fr) minmax(auto, 1088px) minmax(8vw, 1fr);
}
.parts-grid > * {
  -ms-grid-column: 2;
  grid-column: 2;
}

/* Index page */
/* -------------------------------------------------------- */
/* List */
/* -------------------------------------------------------- */
.list > .grid12 {
  row-gap: 32px;
}
.list > .grid12 h2 + p {
  margin-bottom: 8px;
}

/* List Inner Items */
@media (min-width: 768px) {
  .list h2,
.list h2 + p {
    -ms-grid-column-span: 8;
    grid-column: span 8;
  }
}
.list h2 {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 26px;
  font-weight: 400;
  color: #444444;
}
@media (min-width: 768px) {
  .list h2 {
    font-size: 32px;
  }
}
.list h2 + p {
  font-size: 14px;
  line-height: 1.8;
}
@media (min-width: 768px) {
  .list h2 + p {
    font-size: 16px;
  }
}
.list ul.grid12 {
  row-gap: 20px;
}
@media (min-width: 768px) {
  .list ul.grid12 {
    row-gap: 28px;
  }
}
.list ul img {
  width: 100%;
  height: 155px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
  margin-bottom: 10px;
}
@media (min-width: 768px) {
  .list ul img {
    height: 265px;
  }
}
@media (min-width: 768px) {
  .list ul.pc-col-3 img {
    height: 353px;
  }
}
.list ul h3 {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 16px;
  font-weight: 500;
}
@media (min-width: 768px) {
  .list ul h3 {
    font-size: 18px;
  }
}

/* Category */
.list-category {
  padding-top: 80px;
  padding-bottom: 80px;
}
@media (min-width: 768px) {
  .list-category {
    padding-bottom: 86px;
  }
}

/* Experience */
.list-experience {
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #eefbe3;
}

/* Popular */
.list-popular {
  padding-top: 40px;
  padding-bottom: 40px;
}
@media (min-width: 768px) {
  .list-popular {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
.list-popular ul p {
  font-size: 16px;
}
@media (min-width: 768px) {
  .list-popular ul p {
    font-size: 18px;
  }
}

/* Border */
.frame {
  margin: 0 -15px;
  padding: 40px 15px;
  border: 1px solid #16a6cb;
}
@media (min-width: 768px) {
  .frame {
    margin: 0;
    padding: 60px 0;
  }
}
@media (min-width: 768px) {
  .frame h2,
.frame h2 + p {
    -ms-grid-column: 2;
    -ms-grid-column-span: 7;
    grid-column: 2/span 7;
  }
}
@media (min-width: 768px) {
  .frame ul {
    grid-column: 2/-2;
  }
}

/*# sourceMappingURL=site.bundle.css.map*/