@charset "UTF-8";
/* Variables */
/* Base */
/* -------------------------------------------------------- */
body {
  font-family: "Noto Sans JP", sans-serif;
  line-height: 1.5;
  color: #333333;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

button {
  padding: 0;
  border: none;
  background: none;
  box-sizing: content-box;
  outline: none;
}

/* スクリーンリーダー用テキスト */
/* --------------------------------------------------------- */
.sr-only {
  margin: -1px;
  padding: 0;
  border: 0;
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
}

.container {
  margin: 0 auto;
  width: 84%;
}
@media (min-width: 768px) {
  .container {
    width: 91%;
    max-width: 1240px;
  }
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 74px;
}
@media (min-width: 768px) {
  .header .container {
    height: 100px;
  }
}
.header .container .logo-text {
  display: flex;
  align-items: center;
}
.header .container .logo-text img {
  width: 42px;
  margin-right: 10px;
}
@media (min-width: 768px) {
  .header .container .logo-text img {
    width: 59px;
    margin-right: 18px;
  }
}
.header .container .logo-text .corporation {
  color: #333333;
  font-size: 12px;
  line-height: 1.4;
  font-weight: 900;
}
@media (min-width: 768px) {
  .header .container .logo-text .corporation {
    font-size: 20px;
  }
}
.header .container .logo-text .description {
  color: #707f89;
  font-size: 10px;
  line-height: 1.5;
  font-weight: 400;
}
@media (min-width: 768px) {
  .header .container .logo-text .description {
    font-size: 12px;
  }
}

.nav-button {
  width: 20px;
  height: 14px;
  color: #2e5180;
  cursor: pointer;
}
.nav-button::before, .nav-button::after {
  content: "";
  display: block;
  height: 2px;
  background-color: currentColor;
  transform: translateY(5px);
  transition: 0.3s ease-in-out;
}
.nav-button::before {
  transform: translateY(-5px);
  box-shadow: 0 6px currentColor;
}

/* Mobile: Navigation-menu */
.open .form {
  display: none;
}

html.open, .open body {
  height: 100%;
  overflow: hidden;
}

html, body {
  overflow: hidden;
}

.header {
  position: relative;
}
.header .nav-menu {
  position: absolute;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100vh;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: left 0.5s;
}
.header .nav-menu a:not(:last-child) {
  margin-bottom: 40px;
}

.open .nav-menu {
  left: 0;
}

/* Close-button */
.open .nav-button {
  color: #ffffff;
  z-index: 10;
}
.open .nav-button::before {
  transform: translateY(1px) rotate(45deg);
  box-shadow: none;
}
.open .nav-button::after {
  transform: translateY(-1px) rotate(-45deg);
}

.footer {
  padding: 38px 0 56px;
  background-color: #2e5180;
}
@media (min-width: 768px) {
  .footer .container {
    display: flex;
    justify-content: space-between;
  }
}
.footer .logo-text {
  display: flex;
  align-items: center;
}
.footer .logo-text img {
  width: 47px;
  margin-right: 14px;
}
@media (min-width: 768px) {
  .footer .logo-text img {
    width: 59px;
    margin-right: 18px;
  }
}
.footer .logo-text .text .corporation {
  color: #ffffff;
  font-size: 16px;
}
@media (min-width: 768px) {
  .footer .logo-text .text .corporation {
    font-size: 20px;
  }
}
.footer .address {
  margin: 20px 0 36px 61px;
  color: #ffffff;
  font-size: 12px;
  line-height: 2;
}
@media (min-width: 768px) {
  .footer .address {
    margin: 22px 0 0 77px;
  }
}
.footer .sns {
  display: flex;
  align-items: center;
  margin-left: 61px;
}
@media (min-width: 768px) {
  .footer .sns {
    height: 59px;
  }
}
.footer .sns a:not(:first-child) {
  margin-left: 25px;
}
.footer .sns img {
  width: 35px;
}

/*# sourceMappingURL=site.bundle.css.map*/